<div class="row mt-3">
  <div class="col">
    <h1>OPEN CHARGE MAP API</h1>

    <div class="form-group">
      <input type="search" class="form-control" [(ngModel)]="filter" placeholder="Filtrar por estado, operador o país">
    </div>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead class="table-dark">
          <tr>
            <th scope="col" sortable="id" (sort)="onSort($event)" width="100">ID</th>
            <th scope="col" sortable="estado" (sort)="onSort($event)" width="150">Estado</th>
            <th scope="col" sortable="operador" (sort)="onSort($event)" class="text-center" width="100">Operador</th>
            <th scope="col" sortable="nroConexiones" (sort)="onSort($event)" class="text-center" width="150">Nro Conexiones
            </th>
            <th scope="col" sortable="coordenadas" (sort)="onSort($event)" class="text-center" width="100">Coordenadas</th>
            <th scope="col" sortable="pais" (sort)="onSort($event)" class="text-center" width="150">País
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let openMap of openMaps | openMap:filter">
            <td>
            {{ openMap.id }}
            </td>
            <td>{{ openMap.estado }}</td>
            <td class="text-center">{{ openMap.operador }}</td>
            <td class="text-center">{{ openMap.nroConexiones }}</td>
            <td class="text-center">{{ openMap.coordenadas}}</td>
            <td class="text-center">{{ openMap.pais }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>